[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

body {
  background: #c0c0c0;
  color: #000;
  font: 100%/1.5em "Varela Round", sans-serif;
  margin: 0;
}

input {
  background-image: none;
  border: none;
  font: 100%/1.5em "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contenedor {
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */
#registro {
  width: 400px;
}

#registro h2 {
  background: #5353FB;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 28px;
  padding: 20px 26px;
}

#registro h2 span[class*="fontawesome-"] {
  margin-right: 14px;
}

#registro fieldset {
  background: #fff;
  border-radius: 0 0 20px 20px;
  padding: 20px 26px;
}

#registro fieldset p {
  color: #777;
  margin-bottom: 14px;
}

#registro fieldset p:last-child {
  margin-bottom: 0;
}

#registro fieldset input {
  border-radius: 3px;
  background: #eee;
  color: #777;
  padding: 4px 10px;
  width: 100%;
}

#registro fieldset input[type="submit"] {
  background: #33cc77;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 4px 0;
  width: 100px;
}

#registro fieldset input[type="submit"]:hover {
  background: #28ad63;
}
